<div class="contenedor-padre">
  <mat-toolbar class="barra">
    <mat-toolbar-row>
      <button class="menub" (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="contenido">
    <mat-sidenav class="nav" style="min-width: 300px" #cajon mode="side" opened>
      <mat-nav-list>
        <a mat-list-item href="#">
          <mat-icon fontIcon="home" class="material-icons" >home</mat-icon>
          Presentacion
        </a>
      </mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="black">lens</mat-icon> Windriver
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item routerLink="/windriver/project1W"> Proyecto 1 </a>
            <a mat-list-item routerLink="/windriver/project2W"> Proyecto 2 </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="black">lens</mat-icon> NaranjaX
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item routerLink="/naranjax/project1N"> Proyecto 1 </a>
            <a mat-list-item routerLink="/naranjax/project2N"> Proyecto 2 </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content class="padding-10">
      <p>
      </p>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
