$color_1: #515151;
$color_2: #3f84fc;
$color_3: #0458eb;
$color_4: #fff;
$color_5: #dbdbdb;
$color_6: #d2d1d1;
$color_7: #443ea2;
$color_8: #875de5;
$font-family_1: sans-serif;
$font-family_2: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family_3: "Nunito", sans-serif;
$background-color_1: #e9edf4;
$background-color_2: transparent;
$background-color_3: #fff;
$background-color_4: rgba(0, 0, 0, 0.03);
$background-color_5: #373193;
$background-color_6: #443ea2;
$background-color_7: #dfdfdf;
$background-color_8: rgba(236, 238, 239, 0.3);
$border-top-color_1: rgba(255, 255, 255, 0.72);

:root {
	--font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&::before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	&::after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html {
	font-family: $font-family_1;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
nav {
	display: block;
}
body {
	margin: 0;
	font-family: $font-family_2;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $color_1;
	text-align: left;
	background-color: $background-color_1;
}
h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2.5rem;
	font-weight: normal;
}
h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h5 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
a {
	color: $color_2;
	text-decoration: none;
	background-color: $background-color_2;
	&:hover {
		color: $color_3;
		text-decoration: underline;
	}
}
.h1 {
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2.5rem;
	font-weight: normal;
}
.h2 {
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.h3 {
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.h4 {
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.h5 {
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.h6 {
	font-family: $font-family_3;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.card {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: $background-color_3;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0;
}
.card-body {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: $background-color_4;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	text-align: center;
}
.dashboard {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}
.dashboard-app {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	margin-top: 84px;
}
.dashboard-content {
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	padding: 25px;
}
.dashboard-nav {
	min-width: 238px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	background-color: $background-color_5;
	background-color: $background-color_6;
	header {
		min-height: 84px;
		padding: 8px 27px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		.menu-toggle {
			display: none;
			margin-right: auto;
		}
	}
	a {
		color: $color_1;
		color: $color_4;
		&:hover {
			text-decoration: none;
		}
	}
	.dashboard-nav-dropdown-toggle {
		&:after {
			border-top-color: $border-top-color_1;
		}
	}
}
.dashboard-compact {
	.dashboard-nav {
		display: none;
	}
}
.brand-logo {
	font-family: $font-family_3;
	font-weight: bold;
	font-size: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: $color_1;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	&:focus {
		color: $color_5;
		text-decoration: none;
	}
	&:active {
		color: $color_5;
		text-decoration: none;
	}
	&:hover {
		color: $color_5;
		text-decoration: none;
	}
	i {
		color: $color_6;
		font-size: 27px;
		margin-right: 10px;
	}
}
.dashboard-nav-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.dashboard-nav-item {
	min-height: 56px;
	padding: 8px 20px 8px 70px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	letter-spacing: 0.02em;
	transition: ease-out 0.5s;
	i {
		width: 36px;
		font-size: 19px;
		margin-left: -40px;
	}
	&:hover {
		background: rgba(255, 255, 255, 0.04);
	}
}
.active {
	background: rgba(0, 0, 0, 0.1);
}
.dashboard-nav-dropdown {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.dashboard-nav-dropdown.show {
	background: rgba(255, 255, 255, 0.04);
	>.dashboard-nav-dropdown-toggle {
		font-weight: bold;
		&:after {
			-webkit-transform: none;
			-o-transform: none;
			transform: none;
		}
	}
	>.dashboard-nav-dropdown-menu {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
.dashboard-nav-dropdown-toggle {
	&:after {
		content: "";
		margin-left: auto;
		display: inline-block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid rgba(81, 81, 81, 0.8);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
.dashboard-nav-dropdown-menu {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.dashboard-nav-dropdown-item {
	min-height: 40px;
	padding: 8px 20px 8px 70px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	transition: ease-out 0.5s;
	&:hover {
		background: rgba(255, 255, 255, 0.04);
	}
}
.menu-toggle {
	position: relative;
	width: 42px;
	height: 42px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: $color_7;
	&:hover {
		text-decoration: none;
		color: $color_8;
	}
	&:active {
		text-decoration: none;
		color: $color_8;
	}
	&:focus {
		text-decoration: none;
		color: $color_8;
	}
	i {
		font-size: 20px;
	}
}
.dashboard-toolbar {
	min-height: 84px;
	background-color: $background-color_7;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 8px 27px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}
.nav-item-divider {
	height: 1px;
	margin: 1rem 0;
	overflow: hidden;
	background-color: $background-color_8;
}
@media (min-width: 992px) {
	.dashboard-app {
		margin-left: 238px;
	}
	.dashboard-compact {
		.dashboard-app {
			margin-left: 0;
		}
		.dashboard-toolbar {
			left: 0;
		}
	}
	.dashboard-toolbar {
		left: 238px;
	}
}
@media (max-width: 768px) {
	.dashboard-content {
		padding: 15px 0px;
	}
}
@media (max-width: 992px) {
	.dashboard-nav {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 1070;
		header {
			.menu-toggle {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
			}
		}
	}
	.dashboard-nav.mobile-show {
		display: block;
	}
}
