// Colour palette for the site

$color_1: #515151;
$color_2: #3f84fc;
$color_3: #0458eb;
$color_4: #fff;
$color_5: #dbdbdb;
$color_6: #d2d1d1;
$color_7: #443ea2;
$color_8: #875de5;

// Background colours for the site

$background-color_1: #e9edf4;
$background-color_2: transparent;
$background-color_3: #fff;
$background-color_4: rgba(0, 0, 0, 0.03);
$background-color_5: #373193;
$background-color_6: #443ea2;
$background-color_7: #dfdfdf;
$background-color_8: rgba(236, 238, 239, 0.3);
$border-top-color_1: rgba(255, 255, 255, 0.72);