// Colour palette for the site

$color_black: #3b3b3b;
$color_orange: #FF6000;
$color_orange_light: #eb9147;
$color_white: #fff;
$color_gray: #e0e0e0;
$color_beige: #f1e3d1;

// Background colours for the site

$background-color_1: #e9edf4;
$background-color_2: transparent;
$background-color_3: #fff;
$background-color_4: rgba(0, 0, 0, 0.03);
$background-color_5: #373193;
$background-color_6: #443ea2;
$background-color_7: #dfdfdf;
$background-color_8: rgba(236, 238, 239, 0.3);
$border-top-color_1: rgba(255, 255, 255, 0.72);

