// Fonts for the project

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
$font-family_1: 'Poppins',
sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');
$font-family_2: 'Open Sans', 
sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wght@300&display=swap');
$font-family_3: "Nunito", 
sans-serif;

